h1 {
    color:rgb(190, 16, 16)
}

#id_title,
#id-subtitle,
#id_body,
#id_create,
#id_edit {
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-radius: 8px;
}

.container {
    margin-top:10px;
}

.author-options {
    text-align: right;
}

.card {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}

.post-detail {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
}